.page {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.splash {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: calc(400px + 5vh);
    overflow: hidden;
}
.splash {
    background-color: var(--blue);
    padding-top: 5rem;
}
.splash h1 {
    font-size: 4em;
    margin-bottom: 0;

}
.image-text {
    text-align: center;
    position: relative;
    color: var(--white);
    text-shadow: 0px 0px 15px var(--black);
}
.splash p {
    max-width: 80%;

}
.splash img {
    position: absolute;
    width: 100%;
    bottom: -30vmax;
    opacity: 0.6;
    
}
.splash > * {
    color: var(--white);
}

.subtitle {
    font-size: 2em;
}
.subtitle.splash-text {
    margin-bottom: 0;
}
.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    justify-content: center;
    padding: 3em;
}
.about-info p {
    width: 40%;
}

.splash-text {
    text-align: center;
}
.text-CTA {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    max-width: 40%
}
.how-it-works {
    display: flex;
    flex-direction: column;
    padding: 3em;
    justify-content: center;
    align-items: center;
}
.how-it-works {
    background-color: var(--red);
    color: var(--black);
}
.how-it-works b {
    background-color: var(--red);
    color: var(--gold);

}
.steps {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.how-it-works .inline-link {    
    font-size: inherit;
    color: var(--gold);
}
.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    padding: 3rem;
}
.pricing > * {
    max-width: 40%;
}
.pricing table{
    background-color: var(--blue);
    color: var(--white);
    max-width: unset;
    
}
.pricing table td {
    padding: 1rem;
    outline: 10px var(--white);
}
.pricing table th {
    border-right: 10px var(--white);
}
.pricing table tr {
    outline: 1px solid var(--white);
}
.pricing .sign-up-CTA-container {
    display: flex;
    width: 100%;
    padding: 3rem;
    justify-content: space-evenly;
}
.pricing .inline {
    color: var(--gold);
}
.privacy-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--white);
    color: var(--black);
}
.privacy {
    margin: 3rem 0;
    max-width: 80%;
    display: flex;
    flex-direction: column;   
}
.privacy a, .profile-content a {
    color: var(--gold);
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.privacy a:visited {
    color: #A8862C;
}

button {
    all: unset;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.toggle-container {
    display: flex;
    justify-content: center;
    background-color: var(--white);
}
.toggle-container p {
    padding: 0 1rem;
}
.active-toggle {
    color: var(--gold);
}
.toggle:hover {
    color: #A8862C;
}
.active-toggle:hover {
    color: var(--gold);
}
.form-container {
    display: flex;
    justify-content: center;
    background-color: var(--white);
    align-items: center;
}
input[type=text], input[type=password], input[type=email] {
    outline: 0.1rem solid var(--blue);
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}
.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    min-height: calc(100vh - 15rem - 5vh - 400px);
}
.profile-navbar {
    height: 5rem;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
}
.profile-navbar a {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 clamp(3rem, 7.5vw, 7.5rem);
    margin: 0 calc(-1 * clamp(1rem, 2.5vw, 2.5rem));
    clip-path: polygon(clamp(2rem, 5vw, 5rem) 0%, 100% 0%, calc(100%  -  clamp(2rem, 5vw, 5rem)) 100%, 0% 100%);



    color: var(--white);
    text-decoration: none;
}
.profile-navbar a:hover {
    background-color: #364761;
}
.profile-navbar a.active {
    background-color: var(--white);
    color: var(--black);
}
.profile-navbar-first, .profile-navbar-last {
    flex-grow: 1;
}
.profile-navbar a.profile-navbar-first {
    justify-content: right;
    clip-path: polygon(0% 0%, 100% 0%, calc(100%  -  clamp(2rem, 5vw, 5rem)) 100%, 0% 100%); 
    margin-left: 0 ;
    padding-left: 0 ;
    
}
.profile-navbar a.profile-navbar-last {
    justify-content: left;
    clip-path: polygon(clamp(2rem, 5vw, 5rem) 0%, 100% 0%, 100% 100%, 0% 100%); 
    margin-right: 0 ;
    padding-right: 0 ;

}
.profile-sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: 2.5rem;
}
.profile-sidebar h3 {
    margin-bottom: 0;
}
.profile-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    margin-right: 5rem;
    margin-left: 2.5rem;
}
